*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;  
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: white;
    text-decoration: none;
  }
  ul li {
    list-style: none;
    display: inline-block;
  }

  p{
    color: white;
    font-size: 1.2rem;
  }
.nav{
    height:5vh ;
    padding: .5em;
    position: relative;
   
    
}
.nav ul{
    display: flex;
    justify-content:flex-end;
}
.nav .items li{
  margin-left: 1em;
  
}

.nav .items li a{
    padding: .35em .85em;
    /* background-color: transparent; */
    color: black;
    /* border:1px solid red; */
    /* border-radius: 6px; */
    transition: 300ms;
}
.nav .items li a:hover{
    /* background-color: white; */
    color:#505050;
}


.main{
    padding: 1.5em;
    height: 100vh;
    background:linear-gradient(to bottom, rgb(0 0 0 /.25), rgb(0 0 0 /.25)),url(img/Background.jpeg);
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.main .top{
display: flex;
align-items: center;
justify-content: space-between;
}
.main .top .fa{
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    visibility: hidden;

}

.main .top .links-div{
    z-index: 100;
    width: 300px;
    position: fixed;
    left: -100%;
    height: 100vh;
    background:linear-gradient(to bottom, rgb(255 255 255 /70%), rgb(255 255 255 / 0.6));
    border-top-right-radius: 8px;
    border-bottom-right-radius: 3px ;
    backdrop-filter: blur(5px);
    transform: 300ms;
}

.main .top .links-div .link{
    margin-left: 3em;  
}
.main .top .links-div .link li{
    display: block;
    margin-top: 1.5em;
}
.main .top .links-div.link li a{
    color: #505050;
    font-weight: bold;


}
.main .top .links-div.active{
    left:0;
    transform: 800ms;
}

/* .main .top .signup li {
    margin-left: 1em;
}
.main .top .signup li a{
    padding: .35em .85em;
    background-color: transparent;
    border:1px solid white;
    border-radius: 6px;
    transition: 300ms;
}
.main .top .signup li a:hover{
    background-color: white;
    color:#505050;
} */
.main .center {
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 8em;
}

.main .center h1{
    font-weight: bold;
    font-size: clamp(2.5rem, 5vm, 5 rem); 
    /* clamp permite que la fuente se vea o mas grande o mas pequeña en funcion al tamaño de la panatalla */
    color: white;
}
.main .center input{
    outline: none;
    border: none;
    width: 650px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 1rem;
    filter: drop-shadow(6px 6px 12px);
}
.main .center span{
    position:relative;
    left: -2.9em;
    cursor: pointer;
    padding: .5em;
}

.main ul li {
    margin: .5em .75em;
}
.main ul li a{
    transition: 400ms;

}
.main ul li a:hover{
    color: white;
    border-bottom: 2px solid white;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw - 3em;
    margin: auto;
    position: absolute;
    bottom: 2em;
  }

  .bottom .social ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1em;
  }
  .bottom .social ul li a i{
    color: white;
    font-size: 1.5em;
  }

  @media (max-width: 768px){
    .main .center .search{
        width: 500px;
    }
  }
  @media (max-width:583px){
    .main .center span{
        left: 44%;
        top: -52px;
    }
  }
  @media (max-width:580px){
    .main .center .search {
        width: 100%;
    }
    .nav .items {
        display: none;
    }
    .main .top .fa{
        cursor: pointer;
        visibility: visible;
    }
  }
/* estilo básico para el slaider */
  #gallery{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .gallery-container{
    display: flex;
    transition: transfrom 0.5s ease-in-out;
  }

  .gallery-item{
    min-width: 25%;
    box-sizing: border-box;
  }

  .gallery-item img{
    width: 100%;
    /* width: 300px; */
    height: 200px;
    object-fit: cover;
    display: block;
    border: 5px;
  }

/* navegación del slider */
.gallery-navigation{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -130px;
}

.nav-button {
    background-color: rgba(128,128,128, 0.5);
    color:white;
    border: none;
    padding: 4px 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover{
     background-color: rgba(128,128,128, 0.8);
}
